# Node
node_modules/
dist/
dist-ssr/
*.local

# Python
venv/
.venv/
env/
.env
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# DB
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# PDF/Reports
*.pdf
backend/uploads/
